RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]





# RewriteCond %{THE_REQUEST} ^.*/posts.php
# RewriteRule ^(.*)posts.php$ /$1 [R=301,L]


# RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)?$ $1.php 
# RewriteRule ^posts/([a-zA-Z0-9_-]+)/([0-9]+)\. posts?slug=$2
# RewriteRule ^posts/([A-Za-z0-9-]+)/?$    posts?slug=$1    [NC,L]
# RewriteRule ^posts/(.*)$ posts?slug=$1
# RewriteRule  ^posts/(.+)$ posts?slug=$1   [L]

#RewriteEngine on
#RewriteCond %{THE_REQUEST} ^.*\/index\.phpl?
#RewriteRule ^(.*)index\.php?$ https://jimmytransportationbahamas.com/$1 [R=301,L]